/*Chrissy Stroud-HW7*/

.header{
	text-align:center;
	padding: 20px;
}
.topnav a{
	float: left;
	display: block;
	color: blue;
	text-align: center;
	padding: 14px;
	text-decoration: none;

}
body{
    margin: 0;
	background-image: linear-gradient(to right, navyblue, grey);
    color: darkgray;   
}
div{
	width:300px;
	border: 15px black;
	padding: 20px;
	margin: 20px;
}

h1{
	font-size: 36px;
}
a:hover{
	color:springgreen;
}