/*Chrissy Stroud-HW7*/

header{
	font-size: 48px;
	border-bottom: solid;
	
	text-align:center;
	padding: 60px;
	margin: 0;
}
nav{
	background-color:coral;
	
	display:inline-block;
	
	float:left;
	
}
ul a{
	display:block;
	
	color: aquamarine;
		
}
body{
    margin: 0;
	background-image: linear-gradient(to right, black, grey);
    color: aquamarine;   
}
div2{
	padding:5px;
	float: left;
}


h1{
	font-size: 36px;
}
