/*Chrissy Stroud-HW7*/
/*for some reason my .css is not linking to my index*/

body{
    background-image: linear-gradient(green, grey);
    color: darkgray;   
}

h1{
	font-size: 36px;
}
a:hover{
	color:springgreen;
}